<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.contacts.test.contacts">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name="com.orm.SugarApp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data android:name="DATABASE" android:value="skillContact.db" />
        <meta-data android:name="VERSION" android:value="12" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.contacts.test" />
        <activity
            android:name="com.contacts.test.contacts.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.contacts.test.contacts.PupilActivity"
            android:label="Add Pupil"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.contacts.test.contacts.SearchActivity"
            android:label="Search Pupil"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.contacts.test.contacts.SkillActivitySecond"
            android:label="Skill Info"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.contacts.test.contacts.EditPupilActivity"
            android:label="Edit"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.contacts.test.contacts.ScribbleActivity"
            android:label="Scribble"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.contacts.test.contacts.SkillInfoActivity"
            android:label="Skill Info"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>